body {
    background: snow;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Poppings";
  }


h4{
    text-align: center;
    font-size: 50px;
    font-family:'Roboto', sans-serif ;
}

h3{
    text-align: center;
}

h5{
    font-size: 20px;
    margin: 500px;
    text-align: center;
}

.searchmain{
    text-align: center;
    display: flex;
    padding: 10px 10px 10px 680px;

    label{
        text-align: center;
        font-size: 25px;
    }
    input{
        margin: 5px;
        text-align: center;
        
    }
    .box{
        resize: none;
        height: 2em;
        width: 17;
    }
    .search{
        padding: 0px 10px;
        
    }
}

.display{
    text-align: center;
    font-size: 20px;
}

